<!-- Content -->
<div class="content">
  <div class="zm-section">
    <div class="container">
      <div class="is-center">
        <nav class="zm-navbar">
          <ul class="zm-navbar-menu">
            <li class="zm-navbar-item is-active">
              <a href="">VIỆT NAM</a>
            </li>
            <li class="zm-navbar-item">
              <a href="">US-UK</a>
            </li>
            <li class="zm-navbar-item">
              <a href="">K-POP</a>
            </li>
            <li class="zm-navbar-item">
              <a href="">HOA NGỮ</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/erik.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/hoa-minzy.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/jack.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/liz-kim-cuong.png" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/erik.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/hoa-minzy.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/jack.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/liz-kim-cuong.png" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/erik.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/hoa-minzy.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/jack.png" alt=""></a>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="is48x48 carousel-image">
                  <a href="#"><img src="../assets/images/following/liz-kim-cuong.png" alt=""></a>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container list-post-content">
      <div class="row">
        <div class="col-md-6">
          <div class="zm-card card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <div class="zm-card-image">
                    <figure class="is-48x48">
                      <img src="../assets/images/following/truongtuyen.jpg" alt="">
                    </figure>
                  </div>
                </div>
                <div class="col-md-10">
                  <h3 class="name-user">
                    <a href="">Saka Trương Tuyền</a>
                    <span>•</span>
                    <button class="button btn-quan-tam">
                      <span>Quan tâm</span>
                    </button>
                  </h3>
                  <a class="time-post" href="">14 tháng 7 lúc 17:40</a>
                </div>
              </div>

              <div class="is-medium">
                Em không giàu sang đi với anh trong cuộc đời
              </div>
              <a href="" class="show-more">
                Xem thêm
              </a>
            </div>
            <div class="card-body feed-content">
              <div class="feed-video-content" data-toggle="modal" data-target="#feed-detail-modal"
                style="padding-bottom: 133.333%; background: url(&quot;https://photo-zmedia-zmp3.zadn.vn/w512_png/edd121e90aace3f2babd&quot;) center center / cover no-repeat;">
                <button class="zm-btn button" tabindex="0"><i class="icon ic-svg-play-circle"></i></button>
              </div>
            </div>
            <div class="card-footer">
              <div class="actions">
                <button class="button zm-btn">
                  <i class="far fa-heart"></i>
                  <span>24</span>
                </button>
                <button class="button zm-btn">
                  <i class="far fa-comment"></i>
                  <span>0</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- col 6 -->
        <div class="col-md-6">
          <div class="zm-card card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <div class="zm-card-image">
                    <figure class="is-48x48">
                      <img src="../assets/images/following/truongtuyen.jpg" alt="">
                    </figure>
                  </div>
                </div>
                <div class="col-md-10">
                  <h3 class="name-user">
                    <a href="">Saka Trương Tuyền</a>
                    <span>•</span>
                    <button class="button btn-quan-tam">
                      <span>Quan tâm</span>
                    </button>
                  </h3>
                  <a class="time-post" href="">14 tháng 7 lúc 17:40</a>
                </div>
              </div>

              <div class="is-medium">
                Em không giàu sang đi với anh trong cuộc đời
              </div>
              <a href="" class="show-more">
                Xem thêm
              </a>
            </div>
            <div class="card-body feed-content">
              <div class="feed-video-content" data-toggle="modal" data-target="#feed-detail-modal"
                style="padding-bottom: 133.333%; background: url(&quot;https://photo-zmedia-zmp3.zadn.vn/w512_png/edd121e90aace3f2babd&quot;) center center / cover no-repeat;">
                <button class="zm-btn button" tabindex="0"><i class="icon ic-svg-play-circle"></i></button>
              </div>
            </div>
            <div class="card-footer">
              <div class="actions">
                <button class="button zm-btn">
                  <i class="far fa-heart"></i>
                  <span>24</span>
                </button>
                <button class="button zm-btn">
                  <i class="far fa-comment"></i>
                  <span>0</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- col-6 -->
        <div class="col-md-6">
          <div class="zm-card card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-2">
                  <div class="zm-card-image">
                    <figure class="is-48x48">
                      <img src="../assets/images/following/truongtuyen.jpg" alt="">
                    </figure>
                  </div>
                </div>
                <div class="col-md-10">
                  <h3 class="name-user">
                    <a href="">Saka Trương Tuyền</a>
                    <span>•</span>
                    <button class="button btn-quan-tam">
                      <span>Quan tâm</span>
                    </button>
                  </h3>
                  <a class="time-post" href="">14 tháng 7 lúc 17:40</a>
                </div>
              </div>

              <div class="is-medium">
                Em không giàu sang đi với anh trong cuộc đời
              </div>
              <a href="" class="show-more">
                Xem thêm
              </a>
            </div>
            <div class="card-body feed-content">
              <div class="feed-video-content" data-toggle="modal" data-target="#feed-detail-modal"
                style="padding-bottom: 133.333%; background: url(&quot;https://photo-zmedia-zmp3.zadn.vn/w512_png/edd121e90aace3f2babd&quot;) center center / cover no-repeat;">
                <button class="zm-btn button" tabindex="0"><i class="icon ic-svg-play-circle"></i></button>
              </div>
            </div>
            <div class="card-footer">
              <div class="actions">
                <button class="button zm-btn">
                  <i class="far fa-heart"></i>
                  <span>24</span>
                </button>
                <button class="button zm-btn">
                  <i class="far fa-comment"></i>
                  <span>0</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End feedcard -->
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="feed-detail-modal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: aliceblue;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- album or video -->
          <div class="col-md-6 feed-detail-album">
            <img class="text-center" src="../assets/images/following/postdetailkimcuong.png" alt="">
          </div>
          <!-- comment -->
          <div class="col-md-6 comment">
            <div class="row comment-user">
              <div class="col-md-2">
                <div class="zm-card-image">
                  <figure class="is-48x48">
                    <img src="../assets/images/following/truongtuyen.jpg" alt="">
                  </figure>
                </div>
              </div>
              <div class="col-md-10">
                <h3 class="name-user">
                  <a href="">Saka Trương Tuyền</a>
                  <span>•</span>
                  <button class="button btn-quan-tam">
                    <span>Quan tâm</span>
                  </button>
                </h3>
                <a class="time-post" href="">14 tháng 7 lúc 17:40</a>
              </div>
            </div>
            <div class="comment-hr"></div>
            <div class="comment-title">
              Em không giàu sang đi với anh trong cuộc đời
            </div>
            <div class="comment-hr"></div>
            <div class="comment-actions">
              <button class="button zm-btn">
                <i class="far fa-heart"></i>
                <span>24</span>
              </button>
              <button class="button zm-btn">
                <i class="fas fa-share"></i>
                <span>Chia sẻ</span>
              </button>
            </div>
            <div class="comment-hr"></div>
            <div class="count-like">
              <span>1 lượt thích</span>
            </div>
            <div class="comment-content">
              <div class="empty-content">
                <i class="far fa-comment"></i>
                <span>Chưa có bình luận nào</span>
              </div>
            </div>
            <div class="noti-message">
              <i class="fas fa-info"></i>
              <span> &ensp; Vào ứng dụng Zing MP3 để bình luận</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>